.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
  }